@font-face {
  font-family: "linbudu";
  src: url("../assets/font/汉仪咪咪体简.ttf") format("truetype");
}

p {
  color: white;
  font-size: 128px;
}

div {
  display: flex;
  width: 800px;
  height: 800px;
  background-image: url(../assets/imgs/thomas-tixtaaz-rdwkamJlpiU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
